# Ignore IDE specific files
.idea

# Ignore compiled script
*.js
*.js.map

# Ignore directories or files
test
APPEND.txt

# Don't ignore standalone distribute min.js (GitHub Pages)
!src/distributions/standalone/build/build.sh
!src/distributions/standalone/build/min.js
